---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ThemeToggle from '../components/ThemeToggle.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, pubDate, tags } = Astro.props;

function formatDate(date: Date) {
  const y = date.getFullYear();
  const m = String(date.getMonth() + 1).padStart(2, "0");
  const d = String(date.getDate()).padStart(2, "0");
  return `${y}.${m}.${d}`;
}
---

<html lang="en">
  <head>
    <BaseHead title={`${title} — Kitan`} />
  </head>
  <body>
    <Header />
    <h1>{title}</h1>
    <p class="date"><time datetime={pubDate.toISOString()}>{formatDate(pubDate)}</time></p>
    {
      tags && tags.length > 0 && (
        <div class="tags">
          {tags.map((tag) => <span>{tag}</span>)}
        </div>
      )
    }
    <div class="prose">
      <slot />
    </div>
    <Footer />
    <ThemeToggle />
  </body>
</html>
